In [2]:
print('Hello World!') #My very first Python code

Hello World!

In [ ]:
#Python Data Types
#1. Numbers
#2. Strings
#Integers and Float

In [3]:
#Integer (int)
x = 1
y = 2
print(x + y)

3

In [4]:
#Float
x = 1.5
y = 2.0
print(x + y)

3.5

In [5]:
#Strings
x = 'Hello'
y = 'World'
print(x + y)

HelloWorld

In [6]:
print('My Name is Shanne') #Single Quotation Mark

My Name is Shanne

In [7]:
print("My Name is Shanne") #Double Quotation Mark

My Name is Shanne

In [10]:
x = '123456'
y = 123456
z = 7890.00
print('This is a string',x)
print("This is an Integer",y)
print('This ia a float',z)

This is a string 123456
This is an Integer 123456
This ia a float 7890.0

In [11]:
#\N (for spacing)
print('Shanne \nRabusa \nPanganiban')

Shanne
Rabusa
Panganiban

In [15]:
#Mathematical Operators
#Addition (+)
#Subtraction (-)
#Multiplication (*)
#Division (/)
#Exponential (**)
#Floor Division (//)

a = 2
b = 3
print(a + b) #Addition
print(a - b) #Subtraction
print(a * b) #Multiplication
print(a / b) #Division


x = 9
y = 4
print(9 % 4) #Modulo Operator

print(x ** 2) #Exponential
print(2 ** 3)

5
-1
6
0.6666666666666666
1
81
8

In [16]:
print(9 / 5) #Division
print(9 // 5) #Floor Division

1.8
1

In [18]:
#Comparison Operations
#Less than (<)
#Greater than (>)
#Equal to (==)
#Not Equal to (!=)
#Greater than or equal to (>=)
#Less than or equal to (<=)
#Output results to Boolean values (True or False)

x = 10
y = 5
print(x < y)
print(x > y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

False
True
False
True
True
False

In [22]:
#Boolean Operators
#or
#and
#not

print(x or y)
print(x and y)
print(x, not y)

10
5
10 False

In [26]:
#Looping

x = 5

if x == 10:
  print('Equal to')
else:
    print('Less than')

Less than

In [30]:
#Assignment of Variables

#Strings
name = 'Shanne'
surname = 'Panganiban'
print(name + surname)

#Numbers
hours = 8
score = 90

print(hours)
print(score)

#Naming Variable (always use small cap)

name = 'Shanne'
unitPrice = 100
unit_price = 200

ShannePanganiban
8
90

In [31]:
f_name = 'Shanne'
l_name = 'Panganiban'
age = 20

print(f"My name is {f_name} {l_name} and I am {age} years old")

My name is Shanne Panganiban and I am 20 years old

In [40]:
#Built-in Function
#type() to know the data type
#Rounding off round()

x = 9 #Integer
y = 8.7888889999 #Float
z = 'Shanne' #String

round(y, 0)

9.0