In [ ]:
#Data Structure
#List
#Tuples
#Dictionary

In [1]:
#List: The simplest data collection in Phython
#Contains numbers or strings, or both
#Basically use in Data Analysis
#Elements are modifiable/editable, can add new elements in a list

scores =[90, 92, 95, 96, 78] #list containing numbers (integers)
students =['Shanne', 'Nica', 'Tine', 'Ian', 'Bea'] #List containing strings (words)
mixed =[90, 'Shanne', 99, 'Nica'] #List containing numbers and strings
#indexing starts from 0
scores[0] #locating the element in the list

90

In [2]:
scores[2]

95

In [12]:
students = ['Shanne', 'Nica', 'Tine', 'Ian', 'Bea']
students.append('Tanggol')

students

['Shanne', 'Nica', 'Tine', 'Ian', 'Bea', 'Tanggol']

In [18]:

scores.append(77)
scores

[90, 92, 95, 96, 78, 77, 77]

In [19]:
for x in scores:
  print(x)

90
92
95
96
78
77
77

In [21]:
students.insert(1, 'Python')

print(students)

['Cardo', 'Python', 'Shanne', 'Nica', 'Tine', 'Ian', 'Bea', 'Tanggol']

In [22]:
students.remove('Python')
students

['Cardo', 'Shanne', 'Nica', 'Tine', 'Ian', 'Bea', 'Tanggol']

In [23]:
students.insert(1,'Python')
print(students)

['Cardo', 'Python', 'Shanne', 'Nica', 'Tine', 'Ian', 'Bea', 'Tanggol']

In [28]:
list1 = [3, 4, 5]
list2 = [1, 2, 3]

list2.extend(list1)
print(list2)

[1, 2, 3, 3, 4, 5]

In [31]:
name1 = ['Shanne', 'Rabusa', 'Panganiban']
name2 = ['Tanggol', 'Cardo', 'Rigor']

name1.extend(name2)
print(name1)

['Shanne', 'Rabusa', 'Panganiban', 'Tanggol', 'Cardo', 'Rigor']

In [32]:
name1.sort()
print(name1)

['Cardo', 'Panganiban', 'Rabusa', 'Rigor', 'Shanne', 'Tanggol']

In [33]:
scores.sort()
print(scores)

[77, 77, 78, 90, 92, 95, 96]

In [34]:
scores.reverse()
print(scores)

[96, 95, 92, 90, 78, 77, 77]

In [35]:
del scores[2]
print(scores)

[96, 95, 90, 78, 77, 77]

In [36]:
scores.insert(2, 93)
print(scores)

[96, 95, 93, 90, 78, 77, 77]

In [37]:
#Tuples: Not editable; immutable ()

prices =(90, 90, 88, 78, 80)
prices

(90, 90, 88, 78, 80)

In [39]:
for x in prices:
  print(x)

90
90
88
78
80

In [40]:
#Dictionary: 2 element ()

student_no = {1: 'Shanne', 2: 'Ran', 3: 'Yuki', 4: 'Yuji'}
student_no

{1: 'Shanne', 2: 'Ran', 3: 'Yuki', 4: 'Yuji'}

In [41]:
for x in student_no:
  print(x)

1
2
3
4